@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E0ECE9;
  font-family: "PT Sans Narrow", sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas: "head head" "sub sub" "main main" "footer footer";
  justify-items: center;
}

/* header */
header {
  width: 100%;
  background-color: #E0ECE9;
  z-index: 2;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  position: fixed;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}
header .btn-menu img {
  width: 20px;
  cursor: pointer;
  display: none;
}
header .title h1 {
  font-size: 2.5em;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
  color: #629C8A;
}
header .title h1 img {
  width: 20px;
  height: 20px;
}
header input {
  display: none;
}

/* menu */
.menu ul {
  list-style: none;
  background-color: #E0ECE9;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.menu ul li {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: #629C8A;
}
.menu ul li:hover {
  text-decoration: underline;
}
.menu ul li ul {
  position: absolute;
  display: none;
  z-index: 3;
}
.menu ul li ul li {
  display: block;
  background-color: #629C8A;
  color: #E0ECE9;
}
.menu ul li:hover ul {
  display: block;
}
.menu ul label img {
  width: 20px;
  cursor: pointer;
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer h3 {
  font-size: 2em;
  font-family: "PT Sans Narrow", sans-serif;
  color: #629C8A;
  margin: 10px;
}
footer .contacto li {
  display: inline;
  margin: 10px;
}
footer .contacto li img {
  width: 60px;
}
footer h4 {
  margin: 20px;
  align-self: flex-end;
}
footer h4 a {
  text-decoration: none;
  color: #629C8A;
  font-size: 3rem;
}

@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .title h1 {
    margin: 0px;
  }
}
@media screen and (max-width: 460px) {
  header {
    flex-direction: row;
    justify-content: left;
    padding: 0px;
  }
  header .title {
    padding: 5px;
  }
  header .btn-menu {
    margin: 10px;
  }
  header .btn-menu img {
    display: flex;
  }
  .menu {
    position: absolute;
    background-color: #E0ECE9;
    margin-top: 110px;
    padding-top: 50px;
    width: 100%;
    height: 200px;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
  }
  .menu ul {
    align-self: center;
    position: relative;
    flex-direction: column;
  }
  .menu ul li {
    padding: 0px;
  }
  .menu ul li ul {
    width: 100%;
  }
  .menu label {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  #btn-menu:checked ~ .menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
}
/* subtitulo */
.subtitulo {
  grid-area: sub;
}
.subtitulo .sub {
  font-size: 5em;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #629C8A;
  margin-top: 90px;
}
.subtitulo .sub img {
  width: 50px;
  height: 50px;
}
.subtitulo .abajo {
  text-align: center;
  font-size: 30px;
  color: #629C8A;
}

@media screen and (max-width: 760px) {
  .subtitulo {
    margin-top: 60px;
  }
}
@media screen and (max-width: 460px) {
  .subtitulo {
    margin-top: 0px;
  }
}
/* recursos */
.recu {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.recu .caja {
  border-radius: 5%;
  margin: 10px;
  font-size: 4em;
  text-align: center;
  line-height: 550px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  color: #E0ECE9;
  transition: all 0.5s ease;
}
.recu .caja a {
  text-decoration: none;
  color: #E0ECE9;
}
.recu .caja:hover {
  transform: scale(1.02, 1.02);
}
.recu .historia {
  background-image: url(https://plustatic.com/5124/conversions/ramas-historia-default.jpg);
  background-size: cover;
}
.recu .geografía {
  background-image: url(https://concepto.de/wp-content/uploads/2019/09/geografia-fisica-e1568415626753.jpg);
  background-size: cover;
}
.recu .mapas {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/382/864/large_2x/compass-lying-on-a-very-old-vintage-map-photo.jpg);
  background-size: cover;
}
.recu .artículos {
  background-image: url(https://revistapublicando.org/revista/public/site/images/jgonzalonso/jonas-jacobsson-0frj2scuy4k-unsplash-1.jpg);
  background-size: cover;
}
.recu .peliculas {
  background-image: url(https://img.europapress.es/fotoweb/fotonoticia_20200505141128_1200.jpg);
  background-size: cover;
}
.recu .juegos {
  background-image: url(https://academiaplay.es/wp-content/uploads/2017/06/web-ryse.jpg);
  background-size: cover;
}

@media screen and (max-width: 460px) {
  .recu {
    margin: 5px;
    width: 90%;
  }
}/*# sourceMappingURL=estilo.css.map */