@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E0ECE9;
  font-family: "PT Sans Narrow", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #E0ECE9; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #629C8A; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #E0ECE9; /* creates padding around scroll thumb */
}

.box {
  margin: 0;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas: "head head head head" "sub sub sub sub" "aside main main main" "footer footer footer footer";
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 760px) {
  .gridContainer {
    grid-template-areas: "head head" "sub sub" "aside aside" "main main" "footer footer";
  }
}
/* header */
header {
  width: 100%;
  height: 55px;
  background-color: #E0ECE9;
  z-index: 2;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  position: fixed;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}
header .btn-menu {
  display: none;
}
header .btn-menu i {
  font-size: 20px;
  width: 20px;
  cursor: pointer;
  color: #629C8A;
  text-align: center;
}
header .title h1 {
  font-size: 2.5em;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
  color: #629C8A;
}
header .title h1 img {
  width: 20px;
  height: 20px;
}
header input {
  display: none;
}

/* menu */
.menu ul {
  list-style: none;
  background-color: #E0ECE9;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.menu ul li {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: #629C8A;
}
.menu ul li:hover {
  text-decoration: underline;
}
.menu ul li ul {
  position: absolute;
  display: none;
  z-index: 3;
}
.menu ul li ul li {
  display: block;
  background-color: #629C8A;
  color: #E0ECE9;
}
.menu ul li ul li a {
  color: #E0ECE9;
}
.menu ul li:hover ul {
  display: block;
}
.menu ul .redes {
  display: none;
}
.menu label i {
  visibility: hidden;
  width: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #629C8A;
}

/* footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer h3 {
  font-size: 2em;
  font-family: "PT Sans Narrow", sans-serif;
  color: #629C8A;
  margin: 10px;
}
footer .contacto {
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .contacto li {
  margin: 10px;
  font-size: 30px;
  color: #629C8A;
  list-style: none;
}
footer .contacto li a {
  text-decoration: none;
  color: #629C8A;
}
footer .contacto li a i {
  color: #629C8A;
  font-size: 30px;
}
footer .contacto li a:link, footer .contacto li a:visited, footer .contacto li a:active {
  text-decoration: none;
  color: #629C8A;
}
footer .arriba-flecha {
  align-self: flex-end;
}
footer .arriba-flecha a {
  text-decoration: none;
  font-size: 3rem;
  color: #629C8A;
}

@media screen and (max-width: 1000px) {
  footer .contacto {
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  header {
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .menu {
    height: 50px;
  }
  header .title h1 {
    margin: 0px;
  }
  .contacto {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  header {
    flex-direction: row;
    justify-content: left;
    width: 95%;
    padding: 0px;
    padding-bottom: 5px;
    height: 50px;
  }
  header .btn-menu {
    display: inline-block;
    margin: 10px;
  }
  header .menu {
    position: absolute;
    background-color: #E0ECE9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
  }
  header .menu .title {
    padding: 5px;
  }
  header .menu ul {
    flex-direction: column;
  }
  header .menu ul li {
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  header .menu ul li ul {
    width: 40%;
    margin-left: 30%;
    margin-right: 10%;
  }
  header .menu ul .redes {
    display: block;
    align-content: flex-end;
    text-decoration: none;
    font-size: 2rem;
    color: #629C8A;
  }
  header .menu label {
    position: absolute;
    right: 15px;
    top: 5px;
  }
  header .menu label i {
    visibility: visible;
  }
  #btn-menu:checked ~ .menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  footer .contacto a {
    font-size: 20px;
  }
  footer .contacto li {
    margin: 0;
  }
}
/* subtitulo */
.subtitulo {
  grid-area: sub;
}
.subtitulo .sub {
  font-size: 5em;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  color: #629C8A;
  margin-top: 90px;
}
.subtitulo .sub img {
  width: 50px;
  height: 50px;
}
.subtitulo .abajo {
  text-align: center;
  font-size: 30px;
  color: #629C8A;
}

@media screen and (max-width: 760px) {
  .subtitulo {
    margin-top: 60px;
  }
  .subtitulo .sub {
    font-size: 4em;
  }
}
@media screen and (max-width: 460px) {
  .subtitulo {
    margin-top: 0px;
  }
}
/* recursos */
.recu {
  grid-area: main;
}
.recu .caja-titulo h1 {
  color: #629C8A;
  text-align: center;
  font-size: 3em;
}
.recu .cajas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recu .cajas .caja {
  background-color: black;
  border-radius: 8%;
  margin: 10px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.recu .cajas .caja h3 {
  text-decoration: none;
  color: #E0ECE9;
  font-size: 3em;
}
.recu .cajas .caja img {
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.recu .cajas .caja:hover {
  box-shadow: 5px -5px #629C8A;
  transform: translateX(-5px) translateY(5px);
}
.recu .cajas .caja:hover img {
  display: inline;
}
.recu .historia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://plustatic.com/5124/conversions/ramas-historia-default.jpg);
  background-size: cover;
  background-position: center bottom;
}
.recu .geografía {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://concepto.de/wp-content/uploads/2019/09/geografia-fisica-e1568415626753.jpg);
  background-size: cover;
}
.recu .mapas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://static.vecteezy.com/system/resources/previews/001/382/864/large_2x/compass-lying-on-a-very-old-vintage-map-photo.jpg);
  background-size: cover;
}
.recu .artículos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://revistapublicando.org/revista/public/site/images/jgonzalonso/jonas-jacobsson-0frj2scuy4k-unsplash-1.jpg);
  background-size: cover;
}
.recu .peliculas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://img.europapress.es/fotoweb/fotonoticia_20200505141128_1200.jpg);
  background-size: cover;
}
.recu .juegos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://academiaplay.es/wp-content/uploads/2017/06/web-ryse.jpg);
  background-size: cover;
}

@media screen and (max-width: 460px) {
  .recu {
    margin: 5px;
    width: 90%;
  }
  .recu .cajas .caja {
    height: 150px;
  }
}
.aside {
  grid-area: aside;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.aside .aside-texto h1 {
  color: #629C8A;
  text-align: center;
  font-size: 3em;
}
.aside .acordeon {
  width: 90%;
  margin: 10px;
  z-index: 1;
}

.color-acordeon {
  background-color: #629C8A;
  color: #E0ECE9;
  font-size: 20px;
}

.color-acordeon [aria-expanded=true] {
  color: #E0ECE9 !important;
  background-color: #629C8A;
  box-shadow: none;
  border: 3px solid;
  border-color: #E0ECE9;
}

.color-acordeon [aria-expanded=false] {
  border: 3px solid;
  border-color: #E0ECE9;
}

.color-box {
  background-color: #E0ECE9;
  color: #629C8A;
}

.forma-acordeon {
  height: 40px;
  color: #E0ECE9;
  box-shadow: none;
  border: 3px solid;
  border-color: #E0ECE9;
}

.accordion-button:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.gridContainer-historia {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas: "head head" "sub sub" "main main" "footer footer";
  justify-items: center;
}

/* recursos */
.recu-historia {
  grid-area: main;
}
.recu-historia .caja-titulo-historia h1 {
  color: #629C8A;
  text-align: center;
}
.recu-historia .cajas-historia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recu-historia .cajas-historia .caja-historia {
  background-color: black;
  border-radius: 8%;
  margin: 10px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.recu-historia .cajas-historia .caja-historia h3 {
  text-decoration: none;
  color: #E0ECE9;
  font-size: 2em;
}
.recu-historia .cajas-historia .caja-historia img {
  width: 55px;
  height: 55px;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.recu-historia .cajas-historia .caja-historia:hover {
  box-shadow: 4px -4px #629C8A;
  transform: translateX(-4px) translateY(4px);
}
.recu-historia .cajas-historia .caja-historia:hover img {
  display: inline;
}
.recu-historia .cajas-historia .historia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/historia/historia.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .hominidos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/hominidos.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .prehistoria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/prehistoria.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .paleolitico {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/paleolitico.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .neolitico {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/neolitico.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .sumerios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/sumerios.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .egipto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/egipto.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .grecia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/grecia.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .roma {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/roma.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .americanas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/americanas.jpg);
  background-size: cover;
}
.recu-historia .cajas-historia .media {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/historia/media.jpg);
  background-size: cover;
}

@media screen and (max-width: 460px) {
  .recu-historia {
    margin: 5px;
    width: 90%;
  }
  .recu-historia .cajas-historia .caja-historia {
    height: 150px;
  }
}
.Sumerian-artifact-1-hex {
  color: #f2ad5a;
}

.Sumerian-artifact-2-hex {
  color: #F2C791;
}

.Sumerian-artifact-3-hex {
  color: #D99B66;
}

.Sumerian-artifact-4-hex {
  color: #BF754B;
}

.Sumerian-artifact-5-hex {
  color: #8C4830;
}

.body-mesopotamia {
  background-color: #F2C791;
}

.body-mesopotamia::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.body-mesopotamia::-webkit-scrollbar-track {
  background: #F2C791; /* color of the tracking area */
}

.body-mesopotamia::-webkit-scrollbar-thumb {
  background-color: #8C4830; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #F2C791; /* creates padding around scroll thumb */
}

.gridContainer-mesopotamia {
  background-color: #F2C791;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas: "head head" "sub sub" "main main" "aside aside" "footer footer";
  justify-items: center;
}
.gridContainer-mesopotamia header {
  background-color: #F2C791;
}
.gridContainer-mesopotamia header .btn-menu i {
  color: #8C4830;
}
.gridContainer-mesopotamia header .title h1 {
  color: #8C4830;
}
.gridContainer-mesopotamia header .menu ul {
  background-color: #F2C791;
}
.gridContainer-mesopotamia header .menu ul li a {
  color: #8C4830;
}
.gridContainer-mesopotamia header .menu ul li ul li {
  background-color: #8C4830;
  color: #F2C791;
}
.gridContainer-mesopotamia header .menu ul li ul li a {
  color: #F2C791;
}
.gridContainer-mesopotamia header .menu label i {
  color: #8C4830;
}
.gridContainer-mesopotamia .subtitulo {
  background-color: #F2C791;
}
.gridContainer-mesopotamia .subtitulo .sub {
  color: #8C4830;
}
.gridContainer-mesopotamia footer .contacto li {
  margin: 10px;
  font-size: 30px;
  color: #8C4830;
  list-style: none;
}
.gridContainer-mesopotamia footer .contacto li a {
  text-decoration: none;
  color: #8C4830;
}
.gridContainer-mesopotamia footer .contacto li a i {
  color: #8C4830;
  font-size: 30px;
}
.gridContainer-mesopotamia footer .contacto li a:link, .gridContainer-mesopotamia footer .contacto li a:visited, .gridContainer-mesopotamia footer .contacto li a:active {
  text-decoration: none;
  color: #8C4830;
}
.gridContainer-mesopotamia footer .arriba-flecha {
  align-self: flex-end;
}
.gridContainer-mesopotamia footer .arriba-flecha a {
  text-decoration: none;
  font-size: 3rem;
  color: #8C4830;
}

/* recursos */
.recu-mesopotamia {
  grid-area: main;
}
.recu-mesopotamia .caja-titulo-sumerios h1 {
  color: #629C8A;
  text-align: center;
}
.recu-mesopotamia .cajas-mesopotamia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia {
  background-color: #8C4830;
  border-radius: 8%;
  margin: 10px;
  width: 250px;
  height: 150px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}
.recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia h3 {
  text-decoration: none;
  color: #F2C791;
  font-size: 2em;
}
.recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia img {
  width: 55px;
  height: 55px;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia:hover {
  box-shadow: 4px -4px #8C4830;
  transform: translateX(-4px) translateY(4px);
}
.recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia:hover img {
  display: inline;
}
.recu-mesopotamia .cajas-mesopotamia .ubicacion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/historia/sumerios/ubicacion.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .sumerios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/historia/sumerios/sumerios.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .ciudades {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/historia/sumerios/ciudades.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .zigurat {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/historia/sumerios/zigurat.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .cuneiforme {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/historia/sumerios/cuneiforme.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .leyes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/historia/sumerios/leyes.jpg);
  background-size: cover;
}
.recu-mesopotamia .cajas-mesopotamia .gilgamesh {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/historia/sumerios/gilgamesh.jpg);
  background-size: cover;
}

aside {
  grid-area: aside;
  width: 80%;
}
aside h1 {
  width: 100%;
  font-size: 4em;
  color: #8C4830;
  text-align: center;
  text-justify: auto;
}
aside h1 img {
  width: 50px;
  height: 50px;
}
aside p {
  color: #8C4830;
  font-size: 1.5em;
}

@media screen and (max-width: 460px) {
  header .menu-meso {
    background-color: #F2C791;
  }
  .sub-mesopotamia {
    font-size: 0.7em;
  }
  .recu-mesopotamia {
    width: 90%;
  }
  .recu-mesopotamia .cajas-mesopotamia .caja-mesopotamia {
    border-radius: 20px;
    margin: 2;
    height: 100px;
  }
}/*# sourceMappingURL=estilo.css.map */