body{
    background-color: $claro;
    font-family: 'PT Sans Narrow', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: $claro;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $oscuro;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $claro;  /* creates padding around scroll thumb */
  }


.box{
    margin: 0;
}
.gridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas: 
    "head head head head"
    "sub sub sub sub"
    "aside main main main"
    "footer footer footer footer";
    justify-items: center;
}
@media screen and (max-width: 1000px){
    .gridContainer{
        grid-template-columns: 50% 50%;

    }
}
@media screen and (max-width: 760px){
    .gridContainer{
        grid-template-areas: 
        "head head"
        "sub sub"
        "aside aside"
        "main main"
        "footer footer";
    }
}
