body{
    background-color: $claro;
    font-family: 'PT Sans Narrow', sans-serif;
}
.gridContainer{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "head head"
    "sub sub"
    "main main"
    "footer footer";
    justify-items: center;
}