/* subtitulo */
.subtitulo{
    grid-area: sub;
    .sub{
        font-size: 5em;
        text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;
        color: #629C8A;
        margin-top: 90px;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .abajo {
        text-align: center;
        font-size: 30px;
        color: #629C8A;
    }
}
@media screen and (max-width: 760px){
    .subtitulo{
        margin-top: 60px;
    }
}
@media screen and (max-width: 460px){
    .subtitulo{
        margin-top: 100px;
    }
}